h1 {
    color :azure;
    text-align: center;
  }
label {
      color:rgb(210, 228, 50);
      font-size: large;
  }
input::placeholder{
     text-align: center;
  }
.divcls {
   margin: 10px 50px;
}
.frmcls {
  height: 40%;
  width: 30%;
  position: absolute; right: 200px;
  border: 1px solid white;
  padding: 20px;
}

#sbmt {
 
  background: rgb(96, 96, 102);
  color: rgb(226, 226, 221);
  font-size: 15px;
  font-weight: bolder;
  border: #eee;
  border-radius: 10px;
  box-shadow: 6px 3px 5px #eee;
  text-shadow:none;
  cursor:pointer;
  }
 
